* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  min-height: 100vh;
}
.container {
  max-width: 650px;
  border-radius: 8px;
  width: 390px;
  border: 0.2px solid red;
  background:chocolate;
  padding: 20px;
  height: 22.0rem;
}
.title {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
}
.Tempratur-icon {
  font-size: 40px;
  color: blue;
}
h1{
  color: white;
  letter-spacing: 1px;
  font-size: 29px;
}
span{
  color: rgb(58, 40, 40);
}
#celsius #Fahrenheit #Kelvin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
input{
  flex: 5;
  height: 60px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: 1px solid black;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}
.icon{
  position: absolute;
  background: rgb(172, 170, 170);
  color: white;
  height: 60px;
  width: 45px;
  font-weight: 600;
  outline: 1px solid black;
  text-align: center;
  padding: 16px 0px;
  border-radius: 0 10px 10px 0px;
}
.clear{
  margin: 27px;
  border: 0.3px solid black;
  background: black;
  font-weight: 600;
  font-size: initial;
  padding: 10px 30px;
  outline: none;
  display: block;
  border-radius: 9px;
  color: snow;
  text-align: center;
  scale: 0.8;
  transition: 0.2s;
}
.clear:hover {
  border: none;
  color: black;
  outline: none;
  background: #ffd062;
  scale: 1;
}